* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-items: center;
}

#container {
    /*background-image: url("img/background.jpg");*/
    /*background-size: cover;*/
    height: 350px;
    width: 800px;
    position: relative;
    overflow: hidden;
}

#container #dino {
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 48px;
    left: 20px;
}

#container #dino img {
    height: 90px;
    width: 100px;
}

.dinoActive {
    animation: animateDino 0.5s linear infinite;
}

@keyframes animateDino {

    0%, 100% {bottom: 48px;}

    45%, 55% {bottom: 180px;}
}

#container #block {
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: 30px;
    right: -20px;
}

#container #block img {
    height: 80px;
    width: 90px;
}

.blockActive {
    animation: blockAnimate 1.5s linear infinite;
}

@keyframes blockAnimate {
    0% {right: -125px;}

    100% {right: 100%;}
}

#container #road {
    height: 30px;
    width: 1200px;
    position: absolute;
    bottom: 0;
}

#container #road img {
    height: 30px;
    width: 2000px;
    position: absolute;
    left: 0;
    animation: none;
}

@keyframes roadAnimate {
    0% {left: 0;}

    100% {left: -800px;}
}

#container #cloud {
    height: 80px;
    width: 1200px;
    border-radius: 40px;
    position: absolute;
    top: 30px;
}

#container #cloud img {
    height: 80px;
    width: 2000px;
    position: absolute;
    left: -2000px;
    animation: none;
}

/*@keyframes cloudAnimate {*/
/*    0% {left: -2000px;}*/

/*    100% {left: 100%;}*/
/*}*/

#score {
    font-family: 'BenchNine', Arial, sans-serif;
    height: auto;
    width: auto;
    position: absolute;
    top: 20px;
    right: 0;
    color: white;
}

#gameOver {
    font-family: 'BenchNine', Arial, sans-serif;
    display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 440px;
    height: 80px;
    color: white;
}
#button {
    margin-top: 50px;
}
button {
    height: 35px;
    width: 145px;
    background-color: grey;
    border: none;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: 'BenchNine', Arial, sans-serif;

    line-height: 1em;
    margin: 15px 20px;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
#video_background {
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}